<md-toolbar class="navbar navbar-inverse sticky-top bg-inverse">
    <button class="btn btn-primary mr-auto" type="button" md-button routerLink="/" (click)="onClick"><i class="fa fa-home fa-2x" aria-hidden="true"></i> <span> DEIRS</span></button>
    <button class="btn btn-primary mr-auto" type="button" md-button routerLink="/domains" (click)="onClick"><i class="material-icons">domain</i> <span> DOMAINS</span></button>
    <button class="btn btn-primary mr-auto" type="button" md-button routerLink="/sites" (click)="onClick"><i class="material-icons">code</i> <span> SITES</span></button>
    <button class="btn btn-primary" type="button" md-button routerLink="/apps" (click)="onClick"><i class="fa fa-terminal fa-2x" aria-hidden="true"></i> <span> APPS</span></button>
    <span class="badge shake-constant shake-chunk badge-danger">New</span>
   
</md-toolbar>