<div class="jumbotron text-center">
    <div class="container-fluid">
        <h1 class="display-1">{{title}}</h1>
        <br>
        <h3>{{slogan}}</h3>
        <hr>
        <a class="btn btn-primary" routerLink="/sites" role="button">Sites</a>
        <a class="btn btn-primary" routerLink="/domains" role="button">Domains</a>
        <a class="btn btn-primary" routerLink="/apps" role="button">Apps</a>
    </div>
</div>

<div class="container-fluid">
<h1 class="text-center display-5">{{ftitle}}</h1>
<hr>
<div class="card text-center" style="width: 20rem;">
  <h4 class="card-title text-primary">{{ftitle1}}</h4>
  <img class="img-fluid card-img-top mx-auto d-block" src="/assets/bg3.jpg" alt="Card image cap">
    <div class="card-block">
      <p class="card-text lead">{{fdesc1}}</p>
      <a routerLink="/register" class="btn btn-primary">BUY NOW</a><br>
    </div>
</div>
</div>